body{
    margin:0;
    padding:0;
    text-align: center;
}

.upcol{
    background-color:red;
}
.midcol{
    background-color:green;
}
.leftcol{
    height: fit-content;
    background-color:blue;
}
.cencol{
    height: 280px;
    background-color:red;
}
.rightcol{
    height: 280px;
    background-color:yellow;
}
.incol{
    background-color:red;
    height: 130px;
}
#div1{
    margin:2px
}
#div2{
    margin:2px;
}
